<template>
	<div>
		<e-input type="text"> Name </e-input>

		<e-button type="submit"> Submit </e-button>
	</div>
</template>

<script>
import EButton from "./EButton.vue";
import EInput from "./EInput.vue";

export default {
	name: "EApp",
	components: { EButton, EInput },
};
</script>
