<template>
	<div>
		<button type="button" v-bind="{ type }">
			<!-- @slot button content, e.g. click me! -->
			<slot />
		</button>
	</div>
</template>

<script>
export default {
	name: "EButton",
	props: {
		/**
		 * Type of button.
		 *
		 * For example: button and submit.
		 * Default value: button.
		 */
		type: {
			type: String,
			default: "button",
		},
	},
};
</script>

<!-- htmlvalidate tag should always be written in JSON -->
<htmlvalidate>
{
	"inherit": "button",
	"attributes": {
			"type": ["submit", "button"]
	},
	"#default": {
		"permittedContent": ["@phrasing"]
	}
}
</htmlvalidate>
