<template>
	<div>
		<input type="text" v-bind="{ type }" />
	</div>
</template>

<script>
export default {
	name: "EInput",
	props: {
		/**
		 * Type of input.
		 *
		 * For example: text and number.
		 * Default value: text.
		 */
		type: {
			type: String,
			default: "text",
		},
	},
};
</script>

<!-- htmlvalidate tag should always be written in JSON -->
<htmlvalidate>
{
	"inherit": "input",
	"void": false,
	"attributes": {
		"type": ["text", "number", "color"]
	}
}
</htmlvalidate>
